<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sy.mapper.UserMapper">

	<!-- 查询 -->
	<select id="findByName" resultType="User" parameterType="String" databaseId="sqlserver">
		SELECT id, name, status, password 
		FROM [user] 
		WHERE name = #{name}
	</select>
	<!-- -->
	<select id="findByName" resultType="User" parameterType="String">
		SELECT id, name, status, password 
		FROM user
		WHERE name = #{name}
	</select>
	
	
	<select id="count" resultType="Integer" parameterType="String" databaseId="sqlserver">
		SELECT count(1) 
		FROM [user] 
	</select>
	<select id="count" resultType="Integer" parameterType="String">
		SELECT count(1) 
		FROM user 
	</select>

	<insert id="insert" parameterType="User" databaseId="sqlserver">
		insert into [user] (id, name, status, password) 
		values (#{id}, #{name}, #{status}, #{password})
	</insert>
	<insert id="insert" parameterType="User">
		insert into user (id, name, status, password) 
		values (#{id}, #{name}, #{status}, #{password})
	</insert>


	<select id="findMenusByName" resultType="map" parameterType="String">
		select distinct mr.name as roleName, mm.name as menuName, mm.url as menuUrl
		from [user] u
		join my_user_role mur on mur.user_id=u.id 
		join my_role mr on mr.id =mur.role_id
		join my_menu_role mmr on mmr.role_id=mr.id
		join my_menu mm on mm.id=mmr.menu_id
		WHERE u.name = #{name}
	</select>
	
	
</mapper>
