<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sy.mapper.ShopMapper" >

	<select id="findAll" resultType="cn.sy.domain.Shop">
		SELECT id, name
		FROM t_shop
		ORDER BY id
	</select>
	
	<select id="findById" resultType="cn.sy.domain.Shop">
		SELECT id, name
		FROM t_shop
		WHERE id = #{shop_id,jdbcType=INTEGER}
	</select>
	
  
  <insert id="insertShop" >
    insert into t_shop (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  
  
</mapper>