<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
<!-- 		<property name="dialect" value="mysql"/> -->
		<property name="dialect" value="sqlserver"/>
	</properties>
    
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	
	<typeAliases>
 		<package name="cn.sy.domain"/>  
  	</typeAliases>	
  	
	<!-- xml config do not work in spring mybatis. need java config for @Bean DatabaseIdProvider
 	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver" />
		<property name="MySQL" value="mysql" />
	</databaseIdProvider>-->
    
  	<mappers>      
	  <mapper resource="cn/sy/mapper/UserMapper.xml" />
	</mappers>
  	
</configuration>